<!-- about.html -->

{% extends 'base.html' %}

{% block content %}
  <h1 class="pt-5">About</h1>
  <h5 class="lead text-center px-5">
    Meet the team responsible
    for maintaining Virtual Airline, including insights into
    the project's origins, its purpose, and opportunities for participation</h5>
  <h3 class="pt-3 text-start px-5">Team</h3>
  <h5 class="lead text-start px-5">
  Virtual Airline is maintained on GitHub.
  </h5>
  <h3 class="pt-3 text-start px-5">Origins & Purpose</h3>
  <h5 class="lead text-start px-5">
  Orginally create by a group of students at UT Dallas in 2024, Virtual Airline
    aims to address the need for an interactive and educational 
    platform that simulates the complexities of airline management.
    Users face the challenge of maximizing profitability by making 
    strategic decisions regarding aircraft selection, flight scheduling,
    and route management, all within the constraints of real-world 
    economic variables and operational limitations.
    This game seeks to provide a realistic and engaging experience that 
    enhances understanding of the airline industry's dynamics.
  </h5>
  <h3 class="pt-3 text-start px-5">Get Involved</h3>
  <h5 class="lead text-start px-5">
    Get involved with Virtual Airline by 
    <a href="https://github.com/GavinDunnett/virtual_airline/issues/new">opening an issue.</a>
 
  </h5>
{% endblock %}

https://github.com/GavinDunnett/virtual_airline/issues/new
